:root {
  --heading-font: "Nuosu SIL", serif;
  --body-font: "Roboto", sans-serif;
  --font-color: rgb(43, 43, 43);
  --primery-color: #19142a;
  --secondary-color: #d5213a;
}
body {
  text-align: center;
  font-family: var(--body-font);
  color: var(--font-color);
  margin: 0 auto;
  max-width: 1100px;
}
h1 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 100;
  margin: 0;
}
h3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
.home-header {
  padding-top: 120px;
}

.about-paragraphs {
  display: flex;
  text-align: left;
  margin: 30px 0;
}

.button {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.main-btn {
  padding: 16px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--primery-color);
  color: #fff;
  margin: 0 4px;
}

.main-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
}

.second-btn {
  padding: 16px 24px;
  font-size: 16px;
  color: var(--primery-color);
  border: 1px solid var(--primery-color);
  border-radius: 8px;
  background-color: #fff;
  margin: 0 4px;
}
.second-btn:hover {
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

/*page about*/

.link-back {
  color: rgb(67, 38, 197);
  text-decoration: none;
  font-size: 14px;
}
.link-back:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(47, 0, 255);
}

.head-about {
  margin: 20px 0 8px 0;
  padding-top: 80px;
}
.row.g-2 {
  margin: 30px 0 30px 0;
}

.navbar {
  margin-bottom: 50px;
}
